In [7]:
import pandas as pd

transactions = pd.read_csv("../data/transactions.csv")

In [8]:
transactions.head()

,transaction_id,user_id,amount,timestamp,merchant,country,is_fraud,time,diff
0,34a57d95-700b-465e-a59a-ff4225dc555b,user_852,763.88,1767602775163,Walmart,FR,False,1767602775062,1
1,51a1bfab-b4fc-4716-802c-63a03d6cbb33,user_419,3397.07,1767602775364,Starbucks,UK,False,1767602775062,1
2,63864d4d-f4ca-47c6-b517-0b9415c3577c,user_138,2215.92,1767602775565,McDonalds,UK,False,1767602775062,1
3,b8a8c5d4-52c7-44d4-9829-cfad54e61b96,user_502,1091.66,1767602775263,Costco,CA,False,1767602775062,1
4,362da906-013e-4718-8b0b-8f9d34dc2a16,user_391,1919.53,1767602775062,Target,CA,False,1767602775062,1

In [9]:
transactions[transactions['is_fraud']==True]

,transaction_id,user_id,amount,timestamp,merchant,country,is_fraud,time,diff
15,3dd38bd1-6543-4da5-972b-e2243f1b33b6,user_5,684.99,1767602776969,Amazon,IN,True,1767602776060,1
82,5e72b8e2-d087-4c62-8af0-764906ef9128,user_677,4545.66,1767602783701,Amazon,FR,True,1767602783060,1
162,f469beb0-2193-41b2-b045-5c8fd73ccd19,user_496,3175.08,1767602791940,McDonalds,US,True,1767602791060,1